/* @import url(https://fonts.googleapis.com/css?family=Space+Mono); */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
body {
  background: whitesmoke;
}

.title {
  color: black;
  text-align: center;
  font-size: 2.2rem;
}

.main_container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.calculator {
  max-width: 320px;
  background: #eee;
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  background: rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
}

.calc-numbers {
  font-family: "Space Mono", serif;
  background: black;
  color: white;
  font-size: 2em;
  border: 0;
  padding: -16.7px;
  text-align: right;
  width: 100%;
  height: 61px;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.btn {
  font-size: 1em;
  height: 65px;
}

.clear {
  background-color: rgb(151, 3, 3);
  color: white;
}

.btn:hover {
  /* background:#a0a0a0; */
  opacity: 0.85;
}

.btn:active {
  /* background:#a0a0a0; */
  opacity: 0.9;
}

.orange {
  background-color: orange;
}


@media(min-width:600px) {
  .title {
    margin-bottom: 40px;
  }

  .container {
    margin-top: 529px ;
    scale:2;
  }

}